

<!DOCTYPE html>
<html>
 
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <title>Kale Grubu Admin</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Kale Grubu">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="shortcut icon" type="~/Admin/image/png" href="~/favicon.png" />
    <link rel="stylesheet" href="~/use.typekit.net/rlu6mzh.css">
    <link rel="stylesheet" href="~/cdn.jsdelivr.net/npm/%40mdi/font%404.7.95/css/materialdesignicons.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/cdn.jsdelivr.net/gh/fancyapps/fancybox%403.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="~/Admin/">
    <link rel="stylesheet" href="~/Admin/">
   

   
</head>

<head>
    <meta charset="utf-8" />
    <title>Kale Grup Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="author" content="KaleGrup" />
    <meta name="Version" content="v1" />
    <!-- favicon -->
    <link rel="shortcut icon" href="~/dashboard/assets/images/favicon.ico">
    <!-- Bootstrap -->
    <link href="~/dashboard/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- simplebar -->
    <link href="~/dashboard/assets/css/simplebar.css" rel="stylesheet" type="text/css" />
    <link href="~/Admin/" rel="stylesheet" />
    <!-- Icons -->
    <link href="~/dashboard/assets/css/materialdesignicons.min.css" rel="stylesheet" type="text/css" />
    <link href="~/dashboard/assets/css/tabler-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="https://unicons.iconscout.com/release/v3.0.6/css/line.css" rel="stylesheet">
    <!-- Css -->
    <link href="~/dashboard/assets/css/style.css" rel="stylesheet" type="text/css" id="theme-opt" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
    <link href="~/Admin/" rel="stylesheet" />
    <link rel="stylesheet" href="/formhelper/formhelper.min.css" />
    <link rel="stylesheet" href="~/Admin/froala/css/froala_editor.css">
    <link rel="stylesheet" href="~/Admin/froala/css/froala_style.css">
    <link rel="stylesheet" href="~/Admin/froala/css/plugins/code_view.css">
    <link rel="stylesheet" href="~/Admin/froala/css/plugins/colors.css">
    <link rel="stylesheet" href="~/Admin/froala/css/plugins/emoticons.css">
    <link rel="stylesheet" href="~/Admin/froala/css/plugins/image_manager.css">
    <link rel="stylesheet" href="~/Admin/froala/css/plugins/image.css">
    <link rel="stylesheet" href="~/Admin/froala/css/plugins/line_breaker.css">
    <link rel="stylesheet" href="~/Admin/froala/css/plugins/table.css">
    <link rel="stylesheet" href="~/Admin/froala/css/plugins/char_counter.css">
    <link rel="stylesheet" href="~/Admin/froala/css/plugins/video.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">
    <style>
        div#dragme {
            border: solid 1px #CCC;
            display: inline-block;
            padding: 10px;
            background: #efefef;
            margin: 5px;
        }

        [draggable=true] {
            -khtml-user-drag: element;
        }

        .value {
            background-color: yellow;
        }

        textarea.fr-code {
            height: 1000px !important;
        }
    </style>
</head>

<body>
    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="~/js/jquery-ui.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <!-- Loader -->
    <!-- <div id="preloader">
        <div id="status">
            <div class="spinner">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </div>
    </div> -->
    <!-- Loader -->

    <div class="page-wrapper landrick-theme toggled">
        <nav id="sidebar" class="sidebar-wrapper sidebar-dark">
            <div class="sidebar-content" data-simplebar style="height: calc(100% - 60px);">
                <div class="sidebar-brand">
                    <a href="@Url.Action("Index","Admin")">
                        Kale Grup
                    </a>
                </div>

                <ul class="sidebar-menu">
                    <li>
                        <a href="@Url.Action("Index","Admin")"><i class="ti ti-user me-2"></i>Anasayfa</a>
                    </li>

 

                    <li>
                        <a href="@Url.Action("Index","Menu")"><i class="ti ti-apps me-2"></i>Menu</a>

                    </li>

                    <li>
                        <a href="@Url.Action("Index","SubMenu")"><i class="ti ti-apps me-2"></i>Alt Menu</a>

                    </li>
                    <li>
                        <a href="@Url.Action("Index","Files")"><i class="ti ti-apps me-2"></i>Dosyalar</a>

                    </li>

                     
                    <li><a href="@Url.Action("Index","User")"><i class="ti ti-user me-2"></i>Kullanıcı Ayarları</a></li>


                    <li><a href="@Url.Action("Logout","Admin")"><i class="ti ti-brand-gravatar me-2"></i>Çıkış</a></li>

                    <!--end col-->


                </ul>
                <!-- sidebar-menu  -->
            </div>

        </nav>
        <!-- sidebar-wrapper  -->
        <!-- Start Page Content -->
        <main class="page-content ">
            <div class="top-header">
                <div class="header-bar d-flex justify-content-between border-bottom">
                    <div class="d-flex align-items-center">
                        <a href="#" class="logo-icon me-3">
                            <img src="~/dashboard/assets/images/logo-icon.png" height="30" class="small" alt="">
                            <span class="big">
                                <img src="~/dashboard/assets/images/logo-dark.png" height="24" class="logo-light-mode"
                                     alt="">
                                <img src="~/dashboard/assets/images/logo-light.png" height="24" class="logo-dark-mode"
                                     alt="">
                            </span>
                        </a>
                        <a id="close-sidebar" class="btn btn-icon btn-soft-light" href="javascript:void(0)">
                            <i class="ti ti-menu-2"></i>
                        </a>

                    </div>
                    <ul class="list-unstyled mb-0">

                        <li class="list-inline-item mb-0 ms-1">
                            <div class="dropdown dropdown-primary">
                                <button type="button" class="btn btn-icon btn-soft-light dropdown-toggle p-0"
                                        data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="ti ti-bell"></i>
                                </button>

                            </div>
                        </li>


                    </ul>
                </div>
            </div>

            <div class="container-fluid">
                <div class="layout-specing">
                    @RenderBody()
                </div>
            </div>

         

<footer class="bg-white shadow py-3">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col">
                <div class="text-sm-start text-center">
                    <p class="mb-0 text-muted">

                        <script>document.write(new Date().getFullYear())</script> Designer By KaleGroup
                    </p>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</footer>
<!--end footer-->
<!-- End -->
        </main>
<!--End page-content" -->
    </div>
<!-- page-wrapper -->
<!-- Offcanvas Start -->
<div class="offcanvas offcanvas-end bg-white shadow" tabindex="-1" id="offcanvasRight"
     aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header border-bottom">

        <button type="button" class="btn-close d-flex align-items-center text-dark" data-bs-dismiss="offcanvas"
                aria-label="Close">
            <i class="mdi mdi-close fs-4"></i>
        </button>
    </div>
    <div class="offcanvas-body p-4 px-md-5">
        <div class="row">
            <div class="col-12">
                <!-- Style switcher -->
                <div id="style-switcher">
                </div>
                <!-- end Style switcher -->
            </div>
            <!--end col-->
        </div>
    </div>

    <div class="offcanvas-footer p-3 border-top text-center">
        <ul class="list-unstyled social-icon mb-0">
            @* <li class="list-inline-item mb-0"><a href="https://1.envato.market/4n73n" class="rounded"><i
            class="ti ti-shopping-cart align-middle" title="Buy Now"></i></a></li>*@
            <li class="list-inline-item mb-0">
                <a href="https://dribbble.com/shreethemes" class="rounded">
                    <i class="ti ti-brand-dribbble align-middle" title="dribbble"></i>
                </a>
            </li>
            <li class="list-inline-item mb-0">
                <a href="https://www.facebook.com/shreethemes" class="rounded">
                    <i class="ti ti-brand-facebook align-middle" title="facebook"></i>
                </a>
            </li>
            <li class="list-inline-item mb-0">
                <a href="https://www.instagram.com/shreethemes/" class="rounded">
                    <i class="ti ti-brand-instagram align-middle" title="instagram"></i>
                </a>
            </li>
            <li class="list-inline-item mb-0">
                <a href="https://twitter.com/shreethemes" class="rounded">
                    <i class="ti ti-brand-twitter align-middle" title="twitter"></i>
                </a>
            </li>
            <li class="list-inline-item mb-0">
                <a href="mailto:support@shreethemes.in" class="rounded">
                    <i class="ti ti-mail align-middle" title="email"></i>
                </a>
            </li>
            <li class="list-inline-item mb-0">
                <a href="https://shreethemes.in" class="rounded">
                    <i class="ti ti-world align-middle" title="website"></i>
                </a>
            </li>
        </ul>
        <!--end icon-->
    </div>
</div>
<!-- Offcanvas End -->
<!-- javascript -->
<script src="~/dashboard/assets/js/bootstrap.bundle.min.js"></script>
<!-- simplebar -->
<script src="~/dashboard/assets/js/simplebar.min.js"></script>
<!-- Icons -->
<script src="~/dashboard/assets/js/feather.min.js"></script>

<!-- Main Js -->
<script src="~/dashboard/assets/js/plugins.init.js"></script>
<script src="~/dashboard/assets/js/app.js"></script>
<a href="#" class="btn btn-icon btn-soft-primary back-to-top"><i data-feather="arrow-up" class="icons"></i></a>
<!-- Back to top -->
<!-- javascript -->
<script src="~/Admin/js/bootstrap.bundle.min.js"></script>
<script src="~/Admin/js/jquery.easing.min.js"></script>
<script src="~/Admin/js/scrollspy.min.js"></script>
<!-- SLIDER -->
<script src="~/Admin/js/owl.carousel.min.js "></script>
<script src="~/Admin/js/owl.init.js "></script>
<!-- Icons -->
<script src="~/Admin/js/feather.min.js"></script>
<script src="https://unicons.iconscout.com/release/v2.1.9/script/monochrome/bundle.js"></script>
<!-- Main Js -->
<script src="~/Admin/js/app.js"></script>
<!-- Form Helper -->
<script src="/formhelper/formhelper.bundle.min.js"></script>
<!--Data Table-->
<script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="//cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js"></script>
<!--Rich Text-->
<script src="~/Admin/js/jquery.richtext.min.js"></script>
<script src="~/Admin/js/jquery.mask.min.js"></script>
<script src="~/Admin/js/jquery.dataTables.min.js"></script>
<!-- include summernote css/js -->
<script>
    $(document).ready(function () {

        $('.contentEditor').summernote({
            tabsize: 2,
            height: 500
        });


        $('#table').DataTable(
            {
                "language": {
                    "url": "/js/datatableTurkish.json"
                }
            });

    });
</script>
<link href="https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/js/froala_editor.pkgd.min.js"></script>
<script src="~/Admin/froala/js/languages/tr.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>

</body>



</html>
