

<!DOCTYPE html>
<html>

<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <title>Kale Grubu</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Kale Grubu">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="shortcut icon" type="~/image/png" href="~/favicon.png" />
    <link rel="stylesheet" href="~/use.typekit.net/rlu6mzh.css">
    <link rel="stylesheet" href="~/cdn.jsdelivr.net/npm/%40mdi/font%404.7.95/css/materialdesignicons.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/cdn.jsdelivr.net/gh/fancyapps/fancybox%403.5.7/dist/jquery.fancybox.min.css" />
    <link rel="stylesheet" href="~/css/main.css">
    <link rel="stylesheet" href="~/css/extend.css">


    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SYLLZNZTR5"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-SYLLZNZTR5');
    </script>
</head>
<body>
    <main>
        <header class="app-header bg-dark text-white sticky-top">
            <div class="container d-flex align-items-center">
                <a href="../" title="">
                    <img src="~/image/logo.svg" alt="" class="mr-5 mr-xl-5">
                </a>
                <ul class="nav flex-grow-1 mr-5 d-none d-lg-flex">

                  @*  @foreach (var item in Model)
                    {
                        <li class="submenu">

                            <a href="@Url.Action("Pages?pageUrl="+(string)item.PageUrl,"Home")" title="@item.Name ">
                                @item.Name
                            </a>

                            <ol>
                                @foreach (var subItem in item.WebPagesViewModel)
                                {
                                    <li>
                                        <a href="@Url.Action("Pages?pageUrl="+(string)subItem.PageUrl,"Home")" title="@subItem.Name">
                                            @subItem.Name
                                        </a>
                                    </li>
                                }

                            </ol>
                        </li>
                    }
*@

                </ul>
                <ul class="nav align-items-center ml-auto">
                    <li class="d-none d-md-inline">
                        <a href="#" title="" class="open-search-box d-flex align-items-center">
                            <i class="mdi mdi-magnify text-lg mr-2"></i> Arama
                        </a>
                    </li>
                    <li class="submenu d-none d-md-inline">
                        <a href="#" title="" data-code="tr-TR">
                            Türkçe
                        </a>
                        <ol>
                            <li>
                                <a href="@Url.Action("SetLanguage","Home",new { language = "tr" })" data-code="tr-TR" title="T&#xFC;rk&#xE7;e">
                                   Türkçe
                                </a>
                            </li>
                            <li>
                                <a href="@Url.Action("SetLanguage","Home",new { language = "en" })" data-code="en-US" title="English">
                                    English
                                </a>
                            </li>
                        </ol>
                    </li>
                    <li class="d-inline d-xl-none">
                        <a href="#" title="" class="open-search-box-mobile d-flex align-items-center">
                            <i class="mdi mdi-magnify text-xl"></i>
                        </a>
                    </li>
                    <li class="d-inline d-xl-none">
                        <a href="#mobile-menu" title="" class="d-flex align-items-center">
                            <i class="mdi mdi-menu text-xl"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </header>


@RenderBody()

<script src="~/js/main.js"></script>
<script src="../cdn.jsdelivr.net/gh/fancyapps/fancybox%403.5.7/dist/jquery.fancybox.min.js"></script>
<script src="~/js/search.js"></script>



<script>
    $(function () {
        search.init({
            nodeId: 1,
            searchUrl: '/Search/SearchInPages'
        });

        $('.raw-content *').css("font-family", "").css("font-size", "");
        $('.raw-content span, .raw-content font').contents().unwrap();

        $('.lightbox .btn-close').click(function () {
            var popupId = $(this).attr("data-id");

            if ($(this).hasClass("lightbox"))
                $(this).removeClass("open");
            else
                $(this).parents(".lightbox").removeClass("open");

            if (popupId != null && popupId !== '') {
                document.cookie = 'popup-display-' + popupId + '=success';
            }
        });
    })
</script>

</body>

<footer class="app-footer bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-2 order-md-1">
                <div class="footer-menu d-flex justify-space-between">

@*
                    @foreach (var item in Model)
                    {
                        <ul>
                            <li>

                                <a href="@Url.Action("Pages?pageUrl="+(string)item.PageUrl,"Home")" title="@item.Name " class="font-weight-semi-bold">
                                    @item.Name
                                </a>


                                @foreach (var subItem in item.WebPagesViewModel)
                                {
                                <li>
                                    <a href="@Url.Action("Pages?pageUrl="+(string)subItem.PageUrl,"Home")" title="@subItem.Name">
                                            @subItem.Name
                                    </a>
                                </li>
                                }


                            </li>
                        </ul>
                    }
*@


                </div>
            </div>
            <div class="col-lg-4 order-1 order-md-2">
                <div class="social-pages text-right">
                    <a href="https://www.facebook.com/kalegrubu/" target="_blank" title="">
                        <i class="mdi mdi-facebook"></i>
                    </a>

                    <a href="https://twitter.com/kalegrubu" target="_blank" title="">
                        <i class="mdi mdi-twitter"></i>
                    </a>

                    <a href="https://www.linkedin.com/company/kalegrubu/" target="_blank" title="">
                        <i class="mdi mdi-linkedin"></i>
                    </a>

                    <a href="https://www.instagram.com/kalegrubu/" target="_blank" title="">
                        <i class="mdi mdi-instagram"></i>
                    </a>

                    <a href="https://www.youtube.com/channel/UCgQSAhDy2hK87q7FT4Y9Cfw" target="_blank" title="">
                        <i class="mdi mdi-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>

   <div class="bg-light p-3">
            <div class="container d-flex align-items-center justify-content-center justify-md-content-start text-sm flex-wrap">
                <span>&copy; 2023 Kale Grubu T&#xFC;m haklar&#x131; sakl&#x131;d&#x131;r.</span>
                <div class="ml-md-auto mt-3 mt-md-0">
                    <a href="etik-hat.html" class="mr-5 mr-md-3">
                        Etik Hat
                    </a>
                    <a href="Uploads/805dac88812b4cdfbfcd856e99952a92.pdf" class="mr-5 mr-md-3">
                        KVKK
                    </a>
                    <a href="Uploads/7b52f99d0e25494e825e423e25cae8ad.pdf" class="mr-5 mr-md-3">
                       Çerez Politikası
                    </a>
                    <a href="Uploads/e2c2214676c9490797274a78ec9f0414.pdf" class="mr-5 mr-md-3">
                        Aydınlatma Metni
                    </a>
                    <a href="Uploads/67e297cda1dc4d2c9fe00752be09533a.pdf" class="mr-5 mr-md-3">
                        Veri Sahibi Başvuru Formu
                    </a>
                    <a href="Uploads/c0045e01945c4c55a215a84ec8ba7f05.pdf" class="">
                       Çalışan Adayı Aydınlatma Metni
                    </a>
                </div>
            </div>
        </div>


</html>
