@using Microsoft.AspNetCore.Http
@using Newtonsoft.Json;
@inject IHttpContextAccessor HttpContextAccessor
@{
    //Get object from session


    var mySessionSettingsObject = HttpContextAccessor.HttpContext.Session.GetString("settingsModel");

    var settingModel = JsonConvert.DeserializeObject<List<SettingsViewModel>>(mySessionSettingsObject);



    var mySessionObject = HttpContextAccessor.HttpContext.Session.GetString("menuModel");
    var menuModel = JsonConvert.DeserializeObject<List<MenuViewModel>>(mySessionObject);
}
<!DOCTYPE html>
<html>

<meta http-equiv="content-type" content="text/html;charset=utf-8" /> 
<head>
    <title>Kale Arge</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="title" content="Kale Arge">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link rel="shortcut icon" type="~/image/png" href="~/favicon.png" />
    <link href="~/use.typekit.net/rlu6mzh.css" rel="stylesheet" />

  
     <link href="~/cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" rel="stylesheet" />
    <link href="~/cdn.jsdelivr.net/npm/%40mdi/font@4.7.95/css/materialdesignicons.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/main.css"  />
    <link href="~/css/extend.css" rel="stylesheet" />
    <link href="~/use.typekit.net/rlu6mzh.css" rel="stylesheet" />
    <script>
        @settingModel.Where(x => x.Key == "google_analitik").Select(x => x.Value).FirstOrDefault();

    </script>
@*     <script>
        $(function () {
            search.init({
                nodeId: 1,
                searchUrl: '/Search/SearchInPages'
            });

            $('.raw-content *').css("font-family", "").css("font-size", "");
            $('.raw-content span, .raw-content font').contents().unwrap();

            $('.lightbox .btn-close').click(function () {
                var popupId = $(this).attr("data-id");

                if ($(this).hasClass("lightbox"))
                    $(this).removeClass("open");
                else
                    $(this).parents(".lightbox").removeClass("open");

                if (popupId != null && popupId !== '') {
                    document.cookie = 'popup-display-' + popupId + '=success';
                }
            });
        }
        )
    </script> *@

</head>
<body>
    <main>
        <header class="app-header bg-dark text-white sticky-top">
            <div class="container d-flex align-items-center">
                <a href="../" title="">
                    <img src="~/image/logo.svg" alt="" class="mr-10 mr-xl-10" style="height:50px" width="100px">
                </a>
                <ul class="nav flex-grow-1 mr-5 d-none d-lg-flex">

                    @foreach (var item in menuModel)
                    {
                        @if (item.WebPagesViewModel.Count > 0)
                        {
                            <li class="submenu">

                                <a href="@Url.Action("Pages","Home", new { pageUrl = item.PageUrl })" title="@item.Name ">
                                    @item.Name
                                </a>

                                <ol>
                                    @foreach (var subItem in item.WebPagesViewModel)
                                    {
                                        <li>
                                            <a href="@Url.Action("Pages","Home", new { pageUrl = subItem.PageUrl })" title="@subItem.Name">
                                                @subItem.Name
                                            </a>
                                        </li>
                                    }

                                </ol>

                            </li>
                        }
                        else
                        {
                            <li class="">

                                <a href="@Url.Action("Pages","Home", new { pageUrl = item.PageUrl })" title="@item.Name ">
                                    @item.Name
                                </a>


                            </li>

                        }
                    }


                </ul>
                <ul class="nav align-items-center ml-auto">
                    <li class="d-none d-md-inline">
                        <a href="#" title="" class="open-search-box d-flex align-items-center">
                            <i class="mdi mdi-magnify text-lg mr-2"></i> Arama
                        </a>
                    </li>
                    <li class="submenu d-none d-md-inline">
                        @if (ViewBag.Language == "tr")
                        {
                            <a href="#" title="" data-code="tr-TR">
                                Türkçe
                            </a>
                        }
                        else
                        {
                            <a href="#" title="" data-code="tr-TR">
                                English
                            </a>

                        }
                        @if (ViewBag.Language == "tr")
                        {

                            <ol>
                                <li>
                                    <a href="@Url.Action("SetLanguage","Home",new { language = "tr" })" data-code="tr-TR" title="T&#xFC;rk&#xE7;e">
                                        Türkçe
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SetLanguage","Home",new { language = "en" })" data-code="en-US" title="English">
                                        English
                                    </a>
                                </li>
                            </ol>
                        }
                        else
                        {
                            <ol>
                                <li>
                                    <a href="@Url.Action("SetLanguage","Home",new { language = "tr" })" data-code="tr-TR" title="T&#xFC;rk&#xE7;e">
                                        Turkish
                                    </a>
                                </li>
                                <li>
                                    <a href="@Url.Action("SetLanguage","Home",new { language = "en" })" data-code="en-US" title="English">
                                        English
                                    </a>
                                </li>
                            </ol>
                        }
                    </li>
                    <li class="d-inline d-xl-none">
                        <a href="#" title="" class="open-search-box-mobile d-flex align-items-center">
                            <i class="mdi mdi-magnify text-xl"></i>
                        </a>
                    </li>
                    <li class="d-inline d-xl-none">
                        <a href="#mobile-menu" title="" class="d-flex align-items-center">
                            <i class="mdi mdi-menu text-xl"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </header>


        @RenderBody()

        <script src="~/js/main.js"></script>
        <script src="../cdn.jsdelivr.net/gh/fancyapps/fancybox%403.5.7/dist/jquery.fancybox.min.js"></script>
        <script src="~/js/search.js"></script>



        <script>
            $(function () {
                search.init({
                    nodeId: 1,
                    searchUrl: '/Search/SearchInPages'
                });

                $('.raw-content *').css("font-family", "").css("font-size", "");
                $('.raw-content span, .raw-content font').contents().unwrap();

                $('.lightbox .btn-close').click(function () {
                    var popupId = $(this).attr("data-id");

                    if ($(this).hasClass("lightbox"))
                        $(this).removeClass("open");
                    else
                        $(this).parents(".lightbox").removeClass("open");

                    if (popupId != null && popupId !== '') {
                        document.cookie = 'popup-display-' + popupId + '=success';
                    }
                });
            })
        </script>

</body>

<footer class="app-footer bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-2 order-md-1">
                <div class="footer-menu d-flex justify-space-between">


                    @foreach (var item in menuModel)
                    {
                        <ul>
                            <li>

                                <a href="@Url.Action("Pages","Home", new { pageUrl = item.PageUrl })" title="@item.Name " class="font-weight-semi-bold">
                                    @item.Name
                                </a>


                                @foreach (var subItem in item.WebPagesViewModel)
                                {
                                <li>
                                    <a href="@Url.Action("Pages","Home", new { pageUrl = subItem.PageUrl })" title="@subItem.Name">
                                            @subItem.Name
                                    </a>
                                </li>
                                }


                            </li>
                        </ul>
                    }



                </div>
            </div>
            <div class="col-lg-4 order-1 order-md-2">
                <div class="social-pages text-right">
                    <a href="@settingModel.Where(x=>x.Key=="facebook").Select(x=>x.Value).FirstOrDefault()" target="_blank" title="">
                        <i class="mdi mdi-facebook"></i>
                    </a>

                    <a href="@settingModel.Where(x=>x.Key=="twitter").Select(x=>x.Value).FirstOrDefault()" target="_blank" title="">
                        <i class="mdi mdi-twitter"></i>
                    </a>

                    <a href="@settingModel.Where(x=>x.Key=="linkedin").Select(x=>x.Value).FirstOrDefault()" target="_blank" title="">
                        <i class="mdi mdi-linkedin"></i>
                    </a>

                    <a href="@settingModel.Where(x=>x.Key=="instagram").Select(x=>x.Value).FirstOrDefault()" target="_blank" title="">
                        <i class="mdi mdi-instagram"></i>
                    </a>

                    <a href="@settingModel.Where(x=>x.Key=="youtube").Select(x=>x.Value).FirstOrDefault()" target="_blank" title="">
                        <i class="mdi mdi-youtube"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</footer>
@if (ViewBag.Language == "tr")
{
    <div class="bg-light p-3">
        <div class="container d-flex align-items-center justify-content-center justify-md-content-start text-sm flex-wrap">
            <span>&copy; 2023 Kale Grubu T&#xFC;m haklar&#x131; sakl&#x131;d&#x131;r.</span>
            <div class="ml-md-auto mt-3 mt-md-0">
                <a href="bilgiguvenligi" class="mr-5 mr-md-3">
                    Bilgi Güvenliği Politikamız
                </a>
                <a href="Uploads/805dac88812b4cdfbfcd856e99952a92.pdf" class="mr-5 mr-md-3">
                    KVKK Politikamız
                </a>
                <a href="Uploads/7b52f99d0e25494e825e423e25cae8ad.pdf" class="mr-5 mr-md-3">
                    Çerez Politikası
                </a>
                <a href="Uploads/e2c2214676c9490797274a78ec9f0414.pdf" class="mr-5 mr-md-3">
                    Aydınlatma Metni
                </a>
                <a href="Uploads/67e297cda1dc4d2c9fe00752be09533a.pdf" class="mr-5 mr-md-3">
                    Başvuru Formu
                </a>

            </div>
        </div>
    </div>
}
else
{

    <div class="bg-light p-3">
        <div class="container d-flex align-items-center justify-content-center justify-md-content-start text-sm flex-wrap">
            <span>&copy; 2023 Kale Group. All rights reserved.</span>
            <div class="ml-md-auto mt-3 mt-md-0">
                <a href="../Uploads/ccc9e3ae2d724ca5b09f998004cfe2d5.pdf" class="mr-5 mr-md-3">
                    Protection of Personal Data
                </a>
                <a href="../Uploads/7b52f99d0e25494e825e423e25cae8ad.pdf" class="mr-5 mr-md-3">
                    Cookie Policy
                </a>
                <a href="../Uploads/e2c2214676c9490797274a78ec9f0414.pdf" class="mr-5 mr-md-3">
                    Clarification Text
                </a>
                <a href="../Uploads/67e297cda1dc4d2c9fe00752be09533a.pdf" class="">
                    Application Form
                </a>
            </div>
        </div>
    </div>
}

</html>
