@model KaleGroup.Web.Models.FooterPagesViewModel
@using System.Web;
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

  <section class="bg-lavender page-promo pb-5" style="background: @Model.PageTopBackground;">
 
     <div class="container">      

         <div >
            <div class="col-md-8">
                <h1>@Model.PageTopSubject</h1>
            </div>
            <div class="col-md-4">
                <p class="font-weight-medium text-lg" style="padding-top: 20px;">
                    @Model.PageTopDescription
                </p>
            </div>
        </div>
     
            <div class="row">
                <div class="col-12">
                    <a href="@Url.Action("Index","Home")" title="" class="btn btn-dark btn-size-160">
                        <i class="mdi mdi-arrow-left text-xl mr-2"></i>
                        Anasayfa
                    </a>
                </div>
            </div>
        
    </div>
</section>
<div class="container">


    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item ">
                <a href="index.html">Anasayfa</a>
            </li>
            <li class="breadcrumb-item active">
                <a href="etik-hat.html">ET&#x130;K HAT</a>
            </li>
        </ol>
    </nav>
</div>
</section>
<section class="mb-5">
    <div class="container">
        <div class="row">
            <div class="content-text raw-content col-md-8 offset-md-2 text-justify">
                @Html.Raw(Model.PageDescription)
            </div>
        </div>
    </div>
</section>
 
 
