@model KaleGroup.Web.Models.HomeViewModel
@{
  
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="mt-5">
    <div class="container">
        <div class="promo-slider">
            <div class="swiper-container">
                <div class="swiper-wrapper">

                   @foreach (var item in Model.SliderViewModel)
                    {
                        <div class="swiper-slide">
                            <a href="@Url.Action("Pages","Home", new { pageUrl = item.PageUrl })" title="">
                                <img src="@item.FilePath" srcset="@item.FilePath" alt="">
                            </a>
                        </div>
                    }

                </div>
                <div class="d-block d-md-none swiper-pagination text-center"></div>
                <div class="swiper-prev">
                    <i class="mdi mdi-arrow-left"></i>
                </div>
                <div class="swiper-next">
                    <i class="mdi mdi-arrow-right"></i>
                </div>
            </div>
        </div>
    </div>
</section>

@foreach (var item in Model.TopBodyViewModel)
{
    <section class="mt-7">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 pr-0 pr-md-10">

                    <h2>@item.Name</h2>
                    <p>@item.Description</p>
                    <div>

                     @if (ViewBag.Language == "tr")
                        {
                            <a href="@Url.Action("Pages","Home", new { pageUrl = item.PageUrl })" title="" class="btn btn-danger">
                                Daha Fazla
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Pages","Home", new { pageUrl = item.PageUrl })" title="" class="btn btn-danger">
                               Learn More
                            </a>
                        }

                    </div>
                </div>
                <div class="col-md-6 mt-5 mt-md-0">
                    <img src="Uploads/@item.FilePath" srcset="/Uploads/@item.FilePath" alt="">
                </div>
            </div>
        </div>
    </section>
}

@if (Model.ButtomBodyViewModel.Count > 0)
{
    

<section class="bg-teal">
    <div class="project-slider container py-4 py-md-7">
        <h2 class="mb-5 text-md-center">Toplumsal Yat&#x131;r&#x131;mlar</h2>
        <div class="swiper-container">
            <div class="swiper-wrapper align-self-stretch pl-1 pb-2">
          @foreach (var item in Model.ButtomBodyViewModel)

                {
                    <div class="swiper-slide">
                        <a href="@Url.Action("Pages","Home", new { pageUrl = item.PageUrl })" title="" class="card h-100">
                            <img src="Uploads/@item.FilePath" srcset="/Uploads/@item.FilePath" class="card-img-top" alt="">
                            <div class="card-body">
                                <h6 class="card-title">@item.Name</h6>
                            </div>
                        </a>
                    </div>

                }



            </div>
        </div>
        <div class="swiper-prev">
            <i class="mdi mdi-arrow-left"></i>
        </div>
        <div class="swiper-next">
            <i class="mdi mdi-arrow-right"></i>
        </div>
        <div class="container">
            <div class="row align-items-center mt-4 mt-md-0">
                <div class="col-5 col-md-12">
                    <div class="swiper-pagination text-left text-md-center"></div>
                </div>
                <div class="col-7 col-md-12">
                    <div class="mt-0 mt-md-7 text-right text-md-center">
                            @if (ViewBag.Language == "tr")
                            {
                                <a href="@Url.Action("Pages","Home", new { pageUrl = "toplumsal_yatirim" })" class="btn btn-outline-dark">Tümünü Gör</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Pages","Home", new { pageUrl = "social_investments" })" class="btn btn-outline-dark">See All</a>
                            }
                     </div>
                </div>
            </div>
        </div>
    </div>
</section>
}
@if (Model.NewsBodyViewModel.Count > 0)
{

    <section class="news-slider bg-light py-4 py-md-7">
        <div class="container">
            <h2 class="mb-5 text-center">Haberler</h2>
            <div class="swiper-container">
                <div class="swiper-wrapper align-self-stretch pl-1 pb-2">
                    @foreach (var item in Model.NewsBodyViewModel)
                    {
                        <div class="swiper-slide">
                            <a href="@Url.Action("Pages","Home", new { pageUrl = item.PageUrl })" title="" class="card h-100">
                                <img src="Uploads/@item.FilePath" srcset="/Uploads/@item.FilePath" class="card-img-top" alt="">
                                <div class="card-body">
                                    <h6 class="card-title">
                                        @item.Name
                                    </h6>
                                </div>
                                <time class="text-xs text-muted px-4 mb-2">@item.NewsDate</time>
                            </a>
                        </div>
                    }

                </div>
            </div>
            <div class="container">
                <div class="row align-items-center mt-4 mt-md-0">
                    <div class="col-5 col-md-12">
                        <div class="d-block d-md-none swiper-pagination text-left text-md-center"></div>
                    </div>
                    <div class="col-7 col-md-12">
                        <div class="mt-0 mt-md-7 text-right text-md-center">
                            @if (ViewBag.Language == "tr")
                            {
                                <a href="@Url.Action("Pages","Home", new { pageUrl = "haberler" })" class="btn btn-outline-dark">Tümünü Gör</a>
                            }
                            else
                            {
                                <a href="@Url.Action("Pages","Home", new { pageUrl = "news" })" class="btn btn-outline-dark">See All</a>
                            }
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}






<nav id="mobile-menu">
    <ul>
@*        @foreach (var item in Model)
        {
        <li class="submenu">

        <a href="hakkimizda.html" title="@item.Name ">
        @item.Name
        </a>

        <ol>
        @foreach (var subItem in item.WebPagesViewModel)
        {
        <li>
        <a href="@subItem.PageUrl" title="@subItem.Name">
        @subItem.Name
        </a>
        </li>
        }

        </ol>
        </li>
        }*@
    </ul>
    <a href="#" title="" class="menu-close">
        <i class="mdi mdi-close"></i>
    </a>
    <span class="mm-footer">
        <span class="head">
            <span>
                <span class="flag-icon flag-icon-tr"></span> T&#xFC;rk&#xE7;e
            </span>
            <i class="mdi mdi-chevron-down ml-auto"></i>
        </span>
        <span class="languages">
            <a href="../" title="" data-code="tr-TR">
                <span class="flag-icon flag-icon-tr-TR"></span>
                Türkçe
            </a>
            <a href="../" title="" data-code="en-US">
                <span class="flag-icon flag-icon-en-US"></span>
                English
            </a>
        </span>
    </span>
</nav>
<div class="search-box">
    <span class="search-box-close-btn">
        <i class="mdi mdi-close"></i>
    </span>
    <div class="container position-relative h-100">
        <div class="row align-items-center h-100">
            <div class="col-md-6">
                <form id="form-search" action="https://kalegrubu.com.tr/arama-sonuclari" method="get">
                    <div class="d-flex flex-column">
                        <div class="form-group">
                            <input type="text" class="form-control" name="searchText" placeholder="Arama Yap&#x131;n...">
                        </div>
                        <div class="d-none d-md-block">
                            <div id="all-results" class="mt-10 d-none">
                                <a href="javascript:$('#form-search').submit();" title="" class="all-results btn btn-outline-dark">
                                    T&#xDC;M SONU&#xC7;LARI G&#xD6;R
                                </a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-6">
                <div id="search-results">

                    test
                </div>
            </div>
        </div>
    </div>
</div>
<div class="search-box-mobile">
    <span class="search-box-close-btn">
        <i class="mdi mdi-close"></i>
    </span>
    <div class="container position-relative h-100">

        <div id="all-results-mobile" class="mt-10 d-none">
            <a href="javascript:$('#form-search-mobile').submit();" title="" class="all-results btn btn-outline-dark btn-block">
                T&#xDC;M SONU&#xC7;LARI G&#xD6;R
            </a>
        </div>
        <div class="row align-items-center h-100">
            <div class="col-12">
                <div class="d-flex flex-column">
                    <form id="form-search-mobile" action="https://kalegrubu.com.tr/arama-sonuclari" method="get">
                        <div class="form-group">
                            <input type="text" class="form-control" name="searchText" placeholder="Arama Yap&#x131;n...">
                        </div>
                        <div id="search-results-mobile"></div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>
