@using System.Web;

@model KaleGroup.Web.Models.WebPagesViewModel

<section class="bg-lavender page-promo pb-5" style="background: @Model.PageTopBackground;">
    <div class="container">
        <div class="page-promo-image" style="background-image: url('/@Model.PageTopImages');"></div>
        <div class="row mt-4 mt-md-6 mb-3 mb-md-7">
            <div class="col-md-8">
                <h1>@Model.PageTopSubject</h1>
            </div>
            <div class="col-md-4">
                <p class="font-weight-medium text-lg" style="padding-top: 20px;">
                    @Model.PageTopDescription
                </p>
            </div>
        </div>
        @if (!Model.IsMenu)
        {
            <div class="row">
                <div class="col-12">
                    <a href="@Url.Action("Pages","Home", new { pageUrl = Model.LastPageUrl })" title="" class="btn btn-dark btn-size-160">
                        <i class="mdi mdi-arrow-left text-xl mr-2"></i>
                        @Model.LastPageName
                    </a>
                </div>
            </div>
        }
    </div>
</section>
<section>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">

                @if (ViewBag.Language == "tr")
                {
                    <li class="breadcrumb-item ">
                        <a href="../">Anasayfa</a>
                    </li>
                }
                else
                {
                    <li class="breadcrumb-item ">
                        <a href="../">Home</a>
                    </li>
                }

                @if (Model.LastPageName != null)
                {
                    <li class="breadcrumb-item ">
                        <a href="@Url.Action("Pages","Home", new { pageUrl = Model.LastPageUrl })"> @Model.LastPageName</a>
                    </li>
                }

                @if (!Model.IsMenu)
                {
                    <li class="breadcrumb-item active">
                        <a href="@Url.Action("Pages","Home", new { pageUrl = Model.PageUrl })">@Model.PageTopSubject</a>
                    </li>
                }
            </ol>
        </nav>
    </div>
</section>

<section class="mb-5">
    <div class="container">
        <div class="row">
            <div class="content-text raw-content col-md-8 offset-md-2 text-justify">
                @Html.Raw(Model.PageDescription)
            </div>
        </div>
    </div>
</section>

@if (Model.IsMenu || Model.Id == 46)
{
    <section class="mb-5">
        <div class="container">
            <div class="row">
                @foreach (var item in Model.SubPagesViewModel)
                {
                    <div class="col-md-3 mb-4">
                        <a href="@Url.Action("Pages","Home", new { pageUrl = item.PageUrl })" title="" class="card bg-dark card-hover text-white">
                            <img src="/@item.PageImage" srcset="/@item.PageImage" class="card-img" alt="">
                            <div class="card-img-overlay">
                                <div>
                                    <h6 class="card-title">@item.PageTopSubject</h6>
                                    @if (item.IsNews)
                                    {
                                        <time class="text-xs text-muted px-4 mb-2">@item.CreatedAt</time>
                                    }
                                    else
                                    {
                                        @if (ViewBag.Language == "tr")
                                        {
                                            <button class="btn btn-danger btn-h-33">    İNCELE    </button>
                                        }
                                        else
                                        {
                                            <button class="btn btn-danger btn-h-33">   VIEW     </button>

                                        }
                                    }
                                </div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </section>
}
@if (Model.SliderViewModel.Count > 0 && Model.SliderViewModel.Where(x => !x.IsTurnImage).Count() > 0)
{
    <section class="mb-3 mb-md-5">
        <div class="container">
            <div class="row">
                <div class="content-text col-md-8 offset-md-2 text-justify">
                    <div class="images-slider mb-5 mt-5">
                        <div class="swiper-pagination d-block d-md-none"></div>
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                @foreach (var sliderItem in Model.SliderViewModel.Where(x => !x.IsTurnImage).ToList())
                                {
                                    <div class="swiper-slide">
                                        <img src="@sliderItem.FilePath" srcset="@sliderItem.FilePath" alt="" />
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="swiper-prev">
                            <i class="mdi mdi-arrow-left"></i>
                        </div>
                        <div class="swiper-next">
                            <i class="mdi mdi-arrow-right"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
@if (Model.SliderViewModel.Count > 0 && Model.SliderViewModel.Where(x => x.IsTurnImage).Count() > 0)
{

    <link href="~/sprite/css/reset.css" rel="stylesheet" />
    <link href="~/sprite/css/style.css" rel="stylesheet" />
    <script src="~/sprite/js/modernizr.js"></script>
    <script src="~/sprite/js/sjquery.mobile.custom.min.js"></script>
    <script src="~/sprite/js/jquery-2.1.4.js"></script>
    <script src="~/sprite/js/main.js"></script>

    @foreach (var spriteItem in Model.SliderViewModel.Where(x => x.IsTurnImage).ToList())
    {
        <div class="row justify-content-center mx-auto">
            <div class="col-xl-4 col-lg-8 col-md-12">
                <div class="cd-product-viewer-wrapper" data-frame="17" data-friction="0.33">
                    <div>
                        <figure class="product-viewer">
                            <img src="~/sprite/img/img-loading.png" alt="">
                            <div class="product-sprite" data-image="/@spriteItem.FilePath"></div>

                        </figure> <!-- .product-viewer -->

                        <div class="cd-product-viewer-handle">
                            <span class="fill"></span>
                            <span class="handle">Handle</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}


