@using System.Web;
@{
 
    Layout = null;
}
 
@model KaleGroup.Web.Models.WebPagesViewModel

 
<section class="bg-lavender page-promo pb-5" style="background: @Model.PageTopBackground;">
    <div class="container">
        <div class="page-promo-image" style="background-image: url('~/Uploads/@Model.PageTopImages');"></div>
        <div class="row mt-4 mt-md-6 mb-3 mb-md-7">
            <div class="col-md-8">
                <h1>@Model.PageTopSubject</h1>
            </div>
            <div class="col-md-4">
                <p class="font-weight-medium text-lg" style="padding-top: 20px;">
                    @Model.PageTopDescription
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <a href=  <a href="@Url.Action("Pages?pageUrl="+(string)@Model.LastPageUrl,"Home")" title="" class="btn btn-dark btn-size-160">
                    <i class="mdi mdi-arrow-left text-xl mr-2"></i>
                   @Model.LastPageName
                </a>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item ">
                    <a href="../">Anasayfa</a>
                </li>
                <li class="breadcrumb-item ">
                    <a href="@Url.Action("Pages?pageUrl="+(string)@Model.LastPageUrl,"Home")"> @Model.LastPageName</a>
                </li>
                <li class="breadcrumb-item active">
                    <a href="@Url.Action("Pages?pageUrl="+(string)@Model.PageUrl,"Home")">@Model.PageTopSubject</a>
                </li>
            </ol>
        </nav>
    </div>
</section>
<section class="mb-3 mb-md-5">
    <div class="container">
        <div class="row">
            <div class="content-text raw-content col-md-8 offset-md-2 text-justify">
                @Html.Raw( Model.PageDescription)
            </div>
        </div>
    </div>
</section>

@if(Model.IsMenu){
    <section class="mb-5">
        <div class="container">
            <div class="row">
              @foreach (var item in Model.SubPagesViewModel)
                {
                      
                <div class="col-md-3 mb-4">
                        <a href="@Url.Action("Pages?pageUrl="+(string)item.PageUrl,"Home")" title="" class="card bg-dark card-hover text-white">
                            <img src="Uploads/ecf5d64110ab4a90b322b122e70f2f3b.jpg" srcset="/Uploads/@item.PageImage" class="card-img" alt="">
                        <div class="card-img-overlay">
                            <div>
                                <h6 class="card-title">@item.PageTopSubject</h6>
                                <button class="btn btn-danger btn-h-33">
                                    İNCELE
                                </button>
                            </div>
                        </div>
                    </a>
                </div>
           
                }
            </div>
        </div>
    </section>
}