@model List<KaleGroup.Admin.Models.UserViewModel>
 @{
    ViewData["Title"] = "AllUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

 

     <div class="heading mb-3">
         
        <h1 class="text-left">

            <a href="@Url.Action("AddUser","User")" class="btn btn-primary pull-right">Kullanıcı Ekle</a>
            @Html.AntiForgeryToken()
        </h1>
    </div>
    <table id="dataTable" class="table table-striped table-bordered" width="100%">
        <thead>
            <tr>
                <th>
                   Kullanıcı Adı
                </th>
                <th>
                    Email
                </th>
                <th>
                    Aktif / Pasif
                </th>
                <th>
                    İşlem
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.Username

                    </td>
                    <td>
                        @item.Email
                    </td>
                    <td>
                        @if (item.IsActive)
                        {
                            <text>Aktif</text>
                        }
                        else
                        {
                            <text>Pasif</text>
                        }
                    </td>

                    <td class="text-center">
                             <a href="@Url.Action("UpdateUser","User",new { userId = item.Id })" class="btn btn-sm btn-primary" target="_blank"><i class="uil uil-refresh"></i> Güncelle</a>
                            @Html.AntiForgeryToken()
                            <input type="hidden" asp-for="@item.Id" id="Id" name="Id" />
                            <a href="@Url.Action("PasiveUser","User",new { userId = item.Id })" class="btn btn-sm btn-primary">
                                <i class="uil uil-refresh"></i>
                                @if (!item.IsActive)
                                {
                                    <text>Aktif Et</text>
                                }
                                else
                                {
                                    <text>Pasif Et</text>
                                }
                            </a>
                            @Html.AntiForgeryToken()
                            <a href="@Url.Action("DeleteUser","User",new { userId  = item.Id })" class="btn btn-sm btn-danger"><i class="uil uil-refresh"></i> Sil</a>
                            @Html.AntiForgeryToken()
                               @Html.AntiForgeryToken()
                            <a href="@Url.Action("ChangePasswordUser","User",new { userId  = item.Id })" class="btn btn-sm btn-danger"><i class="uil uil-refresh"></i> Şifre Değiştir</a>
                            @Html.AntiForgeryToken()
                        
                    </td>
                </tr>
            }
        </tbody>
    </table>
 